# Dependencies
node_modules/

# Build folders
dist/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

!client/.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# IntelliJ
.idea/

# Cache
.cache/
.parcel-cache/

# Coverage
coverage/

# Vite
vite.config.timestamp-*

# Temporary files
*.tmp
*.temp

# Runtime data
pids
*.pid
*.seed
*.pid.lock